<div>
    <div>This is a custom view</div>
    {{ message }}
    <div>
        <table>
            <tr ng-repeat="cust in customers | filter: searchText">
                <td><a href="#/orders/{{ cust.id }}">{{ cust.name }}</a></td>
                <td>{{ cust.total | currency : "&euro;" }}</td>
            </tr>
        </table>
    </div>
</div>
