<div>
    <div>
        <h2>Create a person</h2>
        <div style="color: red">{{ errMessage }}</div>
            
        <div class="tdiv">
            <div class="trowdiv">
                <div class="tceldiv">Name</div>
                <div class="tceldiv"><input type="text" ng-model="personName" required></div>
            </div>
            <div class="trowdiv">
                <div class="tceldiv">Born</div>
                <div class="tceldiv"><input type="text" ng-model="personBorn"></div>
            </div>
            <div class="trowdiv">
                <div class="tceldiv">RRN</div>
                <div class="tceldiv"><input type="text" ng-model="personRRN" required></div>
            </div>
            <div class="trowdiv">
                <div class="tceldiv"></div>
                <div class="tceldiv"><button ng-click="createPerson(personName, personBorn, personRRN)" >Create</button></div>
            </div>
        </div>
    </div>
    <div>
        <h2>List of Person records</h2>
        <table >
            <thead>
            <th>Name</th><th>Born</th>
            </thead>
            <tr ng-repeat="person in plist" >
                <td class='yui3-datatable-cell'><a href="#/detail/{{person._id}}">{{ person.name }}</a></td>
                <td class='yui3-datatable-cell'>{{ person.born }}</td>
            </tr>
        </table>
    </div>
</div>