<div>
    <div><a href="#/">Back to the list</a></div>
    <div><h2>Person detail</h2></div>
    <div style="color: red">{{ errMessage }}</div>
            
    <div style="margin: 20px;">
    ID: {{ person._id }} <br/>
    Name: {{ person.name }} <br/>
    Born: {{ person.born }} <br/>
    RRN: {{ person.rrn }} <br/>
    <div>
        <div>
            <button ng-click="deletePerson(person._id)">Delete</button>
        </div>
</div>
