<!--
Tutorial page for angular JS binding
Based on Dan Wahlin - AngularJS in 20ish Minutes - NG-Conf 2014 
https://www.youtube.com/watch?v=tnXO-i7944M
Agenda:
  1 directives, filters, data binding
  2 modules and controllers
  3 routes
  4 factories, services
-->
<!DOCTYPE html>
<html ng-app>
<!-- we can have the whole HTML tag tagged as the ng-app
        but in theory it can be any element as a subnode of the document -->    
    <head>
        <title>Angular JS test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://code.angularjs.org/1.2.20/angular-csp.css" rel="stylesheet" />
        
    </head>
    <body ng-init="customers=['Janka','Gabko','Tim','Ted']">
        <H1>AngularJS test 01</H1>
        <div> 
            Search: <input type="text" ng-model="searchText"/> <BR/>
            {{ searchText }} <BR/>

            <table>
                <tr ng-repeat="cust in customers | filter: searchText">
                    <td> {{ cust }} </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <script src="https://code.angularjs.org/1.2.20/angular.js"></script>
        <script src="https://code.angularjs.org/1.2.20/angular-route.js"></script>
        <script src="https://code.angularjs.org/1.2.20/angular-animate.js"></script>
        <script>
            
        </script>
    </body>
</html>
