<!--
Tutorial page for angular JS binding
Based on Dan Wahlin - AngularJS in 20ish Minutes - NG-Conf 2014 
https://www.youtube.com/watch?v=tnXO-i7944M
Agenda:
  1 directives, filters, data binding
  2 modules and controllers
  3 routes
  4 factories, services
-->
<!DOCTYPE html>
<html ng-app='customersApp'>
    <!-- we can have the whole HTML tag tagged as the ng-app
            but in theory it can be any element as a subnode of the document -->    
    <head>
        <title>Angular JS test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://code.angularjs.org/1.2.20/angular-csp.css" rel="stylesheet" />

    </head>
    <body ng-init="customers=['Janka','Gabko','Tim','Ted']">
        <H1>AngularJS test 01</H1>
        <div ng-controller='CustomersController'> 
            Search: <input type="text" ng-model="searchText"/> <BR/>
            {{ searchText }} <BR/>

            <div ng-view></div>
        </div>
        <script src="https://code.angularjs.org/1.2.20/angular.js"></script>
        <script src="https://code.angularjs.org/1.2.20/angular-route.js"></script>
        <script src="https://code.angularjs.org/1.2.20/angular-animate.js"></script>
        <script>
            // name, dependencies
            var app = angular.module('customersApp', ['ngRoute']);
            
            app.config(function ($routeProvider) {
                $routeProvider
                        .when('/',{
                            controller: 'CustomersController',
                            templateUrl: './views/customers.html'
                        })
                         .when('/orders/:customerId', {
//                        .when('/orders', {
                            controller: 'OrdersController',
                            templateUrl: './views/orders.html'
                        });
            });
            
            app.controller('OrdersController', function($scope, $routeParams) {
                $scope.params = $routeParams;
            });
            
            app.controller('CustomersController', function($scope) {
                $scope.customers = [
                    {id: 1, name: 'Gabko', total: 72.14},
                    {id: 2, name: 'Janka', total: 12.1494},
                    {id: 3, name: 'Tibko', total: 55.16},
                    {id: 4, name: 'Erika', total: 2.00}
                ];
            });
            
        </script>
    </body>
</html>
