<!--
Tutorial page for angular JS binding
Based on Dan Wahlin - AngularJS in 20ish Minutes - NG-Conf 2014 
https://www.youtube.com/watch?v=tnXO-i7944M
Agenda:
  1 directives, filters, data binding
  2 modules and controllers
  3 routes
  4 factories, services
-->
<!DOCTYPE html>
<html ng-app='customersApp'>
    <!-- we can have the whole HTML tag tagged as the ng-app
            but in theory it can be any element as a subnode of the document -->    
    <head>
        <title>Angular JS test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://code.angularjs.org/1.2.20/angular-csp.css" rel="stylesheet" />
        <link rel="stylesheet" href="./css/bootstrap-responsive.min.css">    
        <link rel="stylesheet" href="./css/bootstrap.min.css">    
    </head>
    </head>
    <body ng-init="customers=['Janka','Gabko','Tim','Ted']">
        <H1>AngularJS test 01</H1>
        <div ng-controller='CustomersController'> 
            Search: <input type="text" ng-model="searchText"/> <BR/>
            {{ searchText }} <BR/>

            <div ng-view class="slide-animation"></div>
        </div>
        <script src="https://code.angularjs.org/1.2.20/angular.js"></script>
        <script src="https://code.angularjs.org/1.2.20/angular-route.js"></script>
        <script src="https://code.angularjs.org/1.2.20/angular-animation.js"></script>
        <!--<script src="js/bootstrap.js" />-->
        <script>
            // name, dependencies
            var app = angular.module('customersApp', ['ngRoute']);
            
            app.config(function ($routeProvider) {
                $routeProvider
                        .when('/',{
                            controller: 'CustomersController',
                            templateUrl: './views/customers.html'
                        })
                         .when('/orders/:customerId', {
//                        .when('/orders', {
                            controller: 'OrdersController',
                            templateUrl: './views/orders.html'
                        });
            });
            
            app.controller('OrdersController', function($scope, $routeParams) {
                $scope.params = $routeParams;
            });
            
            app.controller('CustomersController', function($scope, customerFactory) {
                function init() {
                    customerFactory.getCustomers()
                            .success( function(data, status, headers, config) {
                        $scope.customers = data
                       })
                   .error( function(data, status, headers, config) {
                        $scope.message = 'failed to load customers: '+status;
                   } );
                };
                init();
            });
            
            app.factory('customerFactory', function($http) {
                var factory = {};
                factory.getCustomers = function() {
                  return  $http.get('./customers.json');
                };
                return factory;
            });
            
        </script>
    </body>
</html>
